services:
-
    class: Fooman\PHPStan\MagentoMagicMethodsReflectionExtension
    tags:
        - phpstan.broker.methodsClassReflectionExtension
parameters:
    bootstrapFiles:
        - %rootDir%/../../fooman/phpstan-magento2-magic-methods/bootstrap.php
